<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The magical index page - Spring Data JPA 3 : Many-to-Many</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="The magical index page">
    <link rel="stylesheet" href="css/mystyle.css">
</head>
<body>
<center>
    <h1>Harry Potter</h1>
    <div><h2>The magical index page - Spring Data JPA 3 : Many-to-Many</h2></div>
    <table>
        <tr>
            <th>
                <form method="get" action="/wizard">
                    <button class="glow-on-hover" type="submit">WIZARDS</button>
                </form>
            </th>
            <th>
                <form method="get" action="/course">
                    <button class="glow-on-hover" type="submit">COURSES</button>
                </form>
            </th>
        </tr>
    </table>
</center>
</body>
</html>

