<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register students to courses</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Register students to courses">
    <link rel="stylesheet" href="css/mystyle.css">
</head>
<body>
<center>
<form action="/wizard/register" method="post">
    <input name="idWizard" th:value="${wizard.id}" type="hidden">
    <h1 th:text="|${wizard.firstName} ${wizard.lastName}|"></h1>
    <label for="course">Register a course:</label>
    <select id="course" name="idCourse">
        <option th:each="course : ${allCourses}" th:text="${course.name}"
                th:value="${course.id}">wizard name
        </option>
    </select>
    <input type="submit" value="Send">
</form>
<h3>Student courses:</h3>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${wizard.courses}">
        <td th:text="${course.id}">id</td>
        <td th:text="${course.name}">name</td>
    </tr>
    </tbody>
</table>
<br>
<a class="glow-on-hover" href="/">Return to index</a>
</center>
</body>
</html>