<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register students to courses</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Register students to courses">
    <link rel="stylesheet" href="/css/mystyle.css">
</head>
<body>
<center>
<form action="/wizard/register" method="post">
    <input name="idWizard" th:value="${wizard.id}" type="hidden">
    <h1 th:text="|${wizard.firstName} ${wizard.lastName}|"></h1>
    <div><h2><label for="course">Register a course:</label></h2></div>
    <select id="course" name="idCourse">
        <option th:each="course : ${allCourses}" th:text="${course.name}"
                th:value="${course.id}">wizard name
        </option>
    </select>
    <input type="submit" value="Send" background-color="#E20074">
</form>
<h3>Student courses:</h3>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${wizard.courses}">
        <td th:text="${course.id}">id</td>
        <td th:text="${course.name}">name</td>
    </tr>
    </tbody>
</table>
<br>
    <table>
        <tr>
            <td>
                <form method="get" action="/">
                    <button class="glow-on-hover" type="submit">HOME</button>
                </form>
            </td>
            <td>
                <form method="get" action="/wizard">
                    <button class="glow-on-hover" type="submit">WIZARDS</button>
                </form>
            </td>
            <td>
                <form method="get" action="/course">
                    <button class="glow-on-hover" type="submit">COURSES</button>
                </form>
            </td>
        </tr>
    </table>
</center>
</body>
</html>